/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

$font-body: 'Untitled Sans' sans-serif;
$base-font-size: 16px;
$letter-spacing: 0.1em;
