///* ========================================================================
//   #PLACEHOLDERS
//   ======================================================================== */

@mixin placeholder-color($color: #000) {
  ::input-placeholder {
    color: $color;
  }

  :placeholder {
    color: $color;
  }

  ::placeholder {
    color: $color;
  }

  :input-placeholder {
    color: $color;
  }

  ::input-placeholder {
    color: $color;
  }
}
